# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/

# Build products
DerivedData/

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
